body
{
    background-color:tan;
} 
form
{
    background-color:#3d4543;
    height:350px;
    width:250px;
    border-radius:10px;
    position:relative;
    top:80px;
    left:40%;
} 
.delete
{
    width:40px;
    height:30px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    text-align: center;
    border-top:2px solid transparent;
    margin-left: 9px;
}
.btn
{
    width:40px;
    height:30px;
    border:none;
    border-radius:8px;
    margin-left:17px;
    cursor:pointer;
    text-align: center;
    border-top:2px solid transparent;
}

input[type=text]
{
    border: none;
    border-radius: 8px;
    border-top:2px solid transparent;
    background-color: pink;
    text-align: right;
}